

.container-central{

    margin: 20px 25px;

    color:#000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

    
}



.Presentacion{

    width: 90%;
    height: 400px;
    background: url("../img/ciclovida.png") no-repeat center center/cover;
    box-shadow: 10px 10px 15px;
    margin: auto;

}

.Presentacion2{

    width: 90%;
    height: 400px;
    background: url("../img/webtodo.png") no-repeat center center/cover;
    box-shadow: 10px 10px 15px;
    margin: auto;

}
.Presentacion3{

    width: 100%;
    height: 400px;
    background: url("../img/web4.jpg") no-repeat center center/cover;
    box-shadow: 10px 10px 25px;
    margin: auto;

}
.Presentacion4{

    width: 90%;
    height: 400px;
    background: url("../img/web5.jpg") no-repeat center center/cover;
    box-shadow: 10px 10px 25px;
    margin: auto;

}

.Presentacion5{

    width: 80%;
    height: 400px;
    background: url("../img/tableros.jpg") no-repeat center center/cover;
    box-shadow: 10px 10px 25px;
    margin: auto;

}




.contenido{

    background: white;
    width: 650px;
    border-radius: 15px;
}

.contenido h1{
    text-align: center;
    color: #046582;
    font-size: 35px;
    margin: 20px 0;
}

.indice{
    background: white;
    width: 300px;
    height: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}



.Glosario{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    margin: 15px 10px;
    



}

.container-central .glosario-p{

    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.button{

    color: #fff;
    font-size: 25px;
    padding:3px;
    background-color: #121013;
    border: #046582 solid 5px;
    
    
}

.button:hover{

    background-color: #f1eff1;
    color:#000000;
    border: #046582 solid 5px;
    

}

h2{

    margin: 10px;
    color: #046582;
}

.parrafos{

 text-align: justify;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding:10px;
 list-style: outside;
}

.parrafos2{

    text-align: justify;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding:10px;
 list-style: outside;
 font-weight: 500;
}

h3,h4{
    margin-left: 10px;
    color: #000000;
}
.listas li{
    margin-left: 30px;
    list-style: outside;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:5px;


}

.ruta{

    float: right;
    padding: 10px;
    margin: 10px 15px 10px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
.ruta2{

    float: left;
    padding: 10px;
    margin: 10px 15px 10px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}


.ruta:hover{

    opacity: .5;
}
.ruta2:hover{

    opacity: .5;
}


.referencias:hover{


    opacity: .5;
    color: #046582;
}

.contenido .imagenes{

    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 15px;
    margin: 10px auto;
    width: 50%;
}

.tarjeta{


    width: 90%;
    margin: auto;
    height: 280px;
    background-color:#046582;
    color:  #fff;
    display: flex;
    justify-content: start;
    border-radius: 15px;
}

.perfil{
    background: url("../img/yo.jpg") no-repeat center center/cover;
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    border-radius: 50%;
    
}

.imagen{
    display: flex;
    justify-content: center;
    
}
.centrado{
    text-align: center;
    
}