

.container-central{

    margin: 20px 25px;

    color:#000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

    
}



.Presentacion{

    width: 100%;
    height: 400px;
    background: url("../img/Desarrolloweb.jpg") no-repeat center center/cover;

}



.contenido{

    background: white;
    width: 650px;
    border-radius: 15px;
}

.contenido h1{
    text-align: center;
    color: #046582;
    font-size: 35px;
    margin: 20px 0;
}

.indice{
    background: white;
    width: 300px;
    height: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    

}

.indice ul {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    text-align: start;

    
}

.item{

    width: 90%;
    display: flex;
    justify-content: center;
}

.button{

    color: #fff;
    font-size: 25px;
    padding:10px;
    background-color: #121013;
    border: #046582 solid 5px;
    width: 80%;

    
    
    
}

.button:hover{

    background-color: #f1eff1;
    color:#000000;
    border: #046582 solid 5px;
    

}

h2{

    margin: 10px;
    color: #046582;
}

.parrafos {

    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    list-style: outside;
    color: #fff;
    background-color: #1597bb;
    padding:40px;
   }
   

   b{
       font-size: 20px;
   }

   